  <%= simple_form_for(@course) do |f| %>
    <% if @course.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

        <ul>
        <% @course.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row">
      <div class="col-xs-6">
        <%= f.input :name %><br>
      </div>

      <div class="col-xs-6">
      <%= f.input :status %><br>
      </div>
    </div>

      <%= f.input :description, as: :text %><br>

    <div class="actions">
      <%= f.button :submit %>
    </div>
  <% end %>
